::-webkit-scrollbar-track{
  background-color:#F5F5F5;
  box-shadow:inset 0 0 3px #ccc;
}
::-webkit-scrollbar{
  width:6px;
  height:10px;
  background-color:#aaa;
}
::-webkit-scrollbar-thumb{
  background-color:#ccc;
  border-radius:3px;
}
/*顶部导航*/
.module-top-nav-container{
  position: relative;
  padding-top: 84px;
}
.module-top-nav{
  position: absolute;
  left:0;
  top:0;
  width:100%;
  height:84px;
  background:#108ff5;
  color:#fff;
  .nav-inner{
    width:1560px;
    margin:0 auto;
  }
  .nav-head{
    float:left;
    width:360px;
    padding:20px 0;
    .icon-box{
      float:left;
      width:40px;
      height:40px;
      padding:5px 0;
      line-height:30px;
    }
    .text{
      display:inline-block;
      height:40px;
      margin-left: 20px;
      line-height: 40px;
      font-size:26px;
      font-weight:bold;
    }
    .app-icon-index{
      display:inline-block;
      width:30px;
      height:30px;
      background:url(./img/app-icon-index.png) no-repeat;
      background-size:100% 100%;
    }
  }
  .nav-body{
    float:left;
    width:1200px;
  }
}
.module-nav-list{
  font-size:0;
  text-align: right;
  .nav-item{
    display:inline-block;
    padding:26px;
    height:84px;
    margin:0 25px;
    font-size:24px;
    color:#fff;
    line-height:28px;
    border-bottom:4px solid transparent;
  }
}
.module-nav-list .nav-item.router-link-active{
  border-bottom:4px solid #fff;
}
.text-danger{
  color:#ed4014;
}
.text-success{
  color:#19be6b;
}
/*分页页面架构*/
.table-page-wrap{
  padding:26px 0;
  margin:0 auto;
  width:1560px;
  .search-line{
    padding:15px 0;
    .search-inline-item{
      float:left;
      margin:5px 30px 5px 0;
    }
    .search-btn{
      margin-top:5px;
      padding-left: 30px;
      padding-right: 30px;
    }
  }
  .operate-line{
    padding:16px 0;
    .ivu-btn-large{
      margin-right:30px;
      padding-left: 45px;
      padding-right: 45px;
      padding-top: 4px;
      height:46px;
      font-size: 20px;
    }
  }
  .table-container{

  }
  .pagination-container{
    margin-top:50px;
    text-align:center;
    .ivu-page-item-active{
      background-color: #108ff5;
    }
    .ivu-page-item-active a, .ivu-page-item-active:hover a{
      color: #fff;
    }
  }
}
.search-inline-item{
  .item-label{
    float: left;
    height:32px;
    line-height: 32px;
    padding-right:15px;
    font-size:20px;
    color:#333;
  }
  .commom-input{
    float: left;
    width:200px;
  }
  .ivu-input{
    font-size:16px;
  }
  .ivu-select-single .ivu-select-selection .ivu-select-placeholder, 
  .ivu-select-single .ivu-select-selection .ivu-select-selected-value{
    font-size: 16px;
  }
}

.bold-table-header th .ivu-table-cell{
  font-weight: bold;
}

/*左侧导航*/
.nav-tab-container{
  background:#108ff5;
  .tab-header{
    height:88px;
    padding:20px 0 20px 26px;
    line-height: 44px;
    font-size:24px;
    font-weight:bold;
    color:#fff;
  }
  .nav-tab{
    .tab-item{
      height:60px;
      padding-left:26px;
      line-height: 60px;
      font-size:20px;
      color:#fff;
      cursor: pointer;
      &.active{
        background:#0183eb;
      }
      &.disabled{
        opacity:0.5;
        cursor:not-allowed;
      }
    }
  }
}
.jd-nav-icon{
  display:inline-block;
  width:24px;
  height:24px;
  margin-right:15px;
  background:url(./img/jd_person_nav_icon.png) no-repeat;
  vertical-align: middle;
}
.jd-icon-jbxx{
  background-position:3px 2px;
}
.jd-icon-lplj{
  background-position:3px -72px;
}
.jd-icon-jcqk{
  background-position:3px -147px;
}
.jd-icon-yljz{
  background-position:3px -222px;
}
.jd-icon-hsxq{
  background-position:3px -298px;
}
.jd-icon-thhx{
  background-position:3px -370px;
}
.jd-icon-clcf{
  background-position:3px -447px;
}
.jd-icon-zdsx{
  background-position:3px -522px;
}

/*表格卡片*/
.module-table-card{
  &+.module-table-card{
    margin-top:40px;
  }
  .card-header{
    height:48px;
    margin-bottom:26px;
    .title{
      float:left;
      line-height: 48px;
      font-size:24px;
      color:#171A29;
    }
    .btn-box{
      float:right;
      text-align: right;
      .ivu-btn-large{
        width:140px;
        padding-top: 4px;
        height: 48px;
        margin-left:32px;
        font-size:20px;
      }
    }
  }
}
.table-default{
  width:100%;
  table-layout: fixed;
}
.table-default td{
  padding:10px 18px;
  border: 1px solid #e8eaec;
  text-align: center;
  font-size:18px;
  color:#333;
}
.table-default td.bg-gray{
  background:#f8f8f8;
}
/*文件上传按钮*/
.forge-upload-btn{
  display:inline-block;
  position: relative;
  input[type='file']{
    display:block;
    position: absolute;
    left:0;
    right:0;
    top:0;
    bottom:0;
    width:100%;
    opacity: 0;
    background: transparent;
    font-size:0;
    border:0;
    outline:0;
    cursor: pointer;
  }
}
.form-inline-upload{
  display: flex;
  .forge-upload-btn{
    flex:0;
  }
  .upload-result{
    flex:1;
    padding-top:5px;
    padding-left:15px;
    span{
      display:inline-block;
      padding:5px;
    }
  }
}
/*图片预览*/
.ivu-modal-wrap.view-img-modal{
  display: flex;
  align-items: center;
  text-align: center;
}
.view-img-modal .ivu-modal-footer{
  display: none;
}
.view-img-modal{
  .ivu-modal{
    top:0;
  }
  .ivu-modal,
  .ivu-modal-content,
  .ivu-modal-body{
    display: inline-block;
    max-width: 100%;
    max-height: 100%;
    padding:0;
  }
  .ivu-modal-content{
    background-color: transparent;
    box-shadow: none;
  }
  .ivu-modal-body{
    font-size:0;
  }
  .ivu-modal-close .ivu-icon-ios-close{
    color:#fff;
    font-weight: bold;
  }
} 


.module-tree-page{
  position:relative;
  .tree-page-inner{
    height: 100%;
    width: 1560px;
    margin: 0 auto;
    padding: 10px 0;
    padding-left: 254px;
    .tree-container{
      position: absolute;
      left: 0;
      top: 0;
      bottom: 0;
      padding-top:30px;
      padding-bottom:30px;
      width: 254px;
      .tree-box{
        width:100%;
        height:100%;
        max-height: 700px;
        padding-left:10px;
        border:1px solid #dcdee2;
        overflow: auto;
      }
      .ivu-tree ul{
        font-size:14px;
      }
    }
    .tree-out{
      padding: 15px 35px 30px;
      height: 100%;
      overflow: auto;
      .table-page-wrap{
        padding:0;
        width:100%;
      }
    }
  }
}

/*选择列表*/
.select-liest-wrap{
  border: 1px solid #e8eaec;
  .select-list-item{
    padding: 5px;
    font-size: 14px;
    line-height: 20px;
    cursor: pointer;
    &:hover{
      background: #f9f9f9;
    }
    &.active,&.active:hover{
      background: #e8eaec;
    }
  }
}